/*
    COLORS BEFORE CHANGE
    #66ccff
    aliceblue
    #ccffff
    VARI: #6667ab
    OTHER: #5f4b8b
    #2a2260
    DOMINANT COLORS JS: rgb(0,24,24) rgb(24,48,48)
*/


.pageFooter {
    background: linear-gradient(
            to top,
            #2a2260 var(--p1, 15%),
            #3a2e6d var(--p2, 100%)
        );
    position: relative;
    height: 50px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;  
    justify-content: center;  
    display: flex;
    border-radius: 25px;
}

.buttonFooter {
    bottom: 10px; /* Abstand vom unteren Rand des Footers */
    left: 50%;
    padding: 10px 15px;
    background: linear-gradient(
            to top,
            #4a3b7a var(--p1, 15%),
            #3d306f var(--p2, 100%)
        );
    color: black;
    border: none;
    border-radius: 5px;
    transition: 1s, background-position 0s;
}

.buttonFooter:hover {
    --p1: 20%;
    --p2: 80%;
}

body {
    background-image: url("imgs/Weltall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}